:root {
	--fonts:
		'Fira Code', Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
		Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--dark-black: #141512;
}

html {
	height: 100%;
}

body {
	background: #282c34;
	padding: 20px 50px;
	margin: 0px;
	height: 100%;
	box-sizing: border-box;
}

/* textarea */

textarea {
	background: transparent;
	border: 0px;
	color: #fff;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: var(--fonts);
	outline: none;
	resize: none;
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 0;
}

/* the line numbers */

#linenos {
	color: #7d7d7d;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 30px; /* 30 to get 20 away from box */
	font-size: 15px;
	font-family: var(--fonts);
	text-align: right;
	user-select: none;
}

/* code box when locked */

#box {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
	outline: none;
	font-size: 13px;
	overflow: inherit;
}

#box code,
pre {
	padding: 0px;
	background: transparent !important; /* don't hide hastebox */
	font-size: 15px;
	font-family: var(--fonts);
}

/* key */

#key {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1000;
	width: 264px;
	user-select: none;
}

#box1 {
	margin: 8px;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
	background: var(--dark-black);
}

#box2 {
	margin: 8px;
	border-radius: 4px;
	background: var(--dark-black);
	font-size: 0px;
	padding: 0px 5px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

#box2 .function {
	width: 48px;
	height: 37px;
	display: inline-block;
	position: relative;
	color: gray;
	background: none;
}

#box2 .function.enabled {
	color: white;
}

#box2 .function.enabled:hover {
	cursor: hand;
	cursor: pointer;
}

#box2 .link embed {
	vertical-align: bottom; /* fix for zeroClipboard style */
}

#box1 a.logo,
#box1 a.logo:visited {
	padding: 8px;
	font-size: large;
	color: white;
	display: inline-block;
	#background: url(/logo.png);
	#width: 126px;
	#height: 42px;
}

#box1 a.logo:hover {
	background-position: 0 bottom;
}

#box3 {
	background: var(--dark-black);
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	padding: 10px 15px;
	user-select: none;
    border-radius: 4px;
    margin: 8px;
}

#box3 .label {
	color: #fff;
	font-weight: bold;
}

#box3 .shortcut {
	color: #c4dce3;
	font-weight: normal;
}

#box2 .button-picture {
	border-width: 0;
	font-size: inherit;
}

kbd {
    border-radius: .25rem;
    background-color: oklch(23.26% .014 253.1);
    display: inline-flex;
    padding-inline: .5rem;
    border: 1px solid color-mix(in srgb,oklch(97.807% .029 256.847) 20%,#0000);
}
